.errorMessageWithButton {
  display: flex;
  flex-direction: column;
}

.submitButton {
  width: 276px;
  height: 52px;
  background: black;
  color: white;
  padding: 0 8px;
  box-sizing: border-box;
}

.submitButton:disabled {
  background: grey;
}

.submitButtonWrapper {
  align-items: flex-end;
  display: flex;
}

@media screen and (max-width: 578px) {
  .submitButton {
    margin: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 968px) {
  .errorMessageWithButton {
    flex-direction: row;
    width: 100%;
  }

  .errorMessage {
    flex-grow: 1;
  }
}
